@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

:root {
	--color-bg: #011034;
	--color-bg-variant: #402c6c;
	--color-primary: #48cce9;
	--color-primary-variant: rgba(77, 142, 255, 0.4);
	--color-white: #fff;
	--color-light: rgba(255, 255, 255, 0.6);
	--transition: all 400ms ease;
	--container-width-lg: 75%;
	--container-width-md: 86%;
	--container-width-sm: 90%;
}

html {
	scroll-behavior: smooth;
}

::webkit-scrollbar {
	display: none;
}

body {
	font-family: 'Roboto', sans-serif;
	background: var(--color-bg);
	color: var(--color-white);
	line-height: 1.7;
	/* background-image: url(../src/assets/texture.jpg); */
}

/* general styles */

.container {
	width: var(--container-width-lg);
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 500;
}

h1 {
	font-size: 2.5rem;
}

.text-light {
	color: var(--color-light);
}

a {
	color: var(--color-primary);
	transition: var(--transition);
}

a:hover {
	color: var(--color-light);
}

.btn {
	width: max-content;
	display: inline-block;
	color: var(--color-primary);
	margin: 1rem;
	padding: 0.75rem 1.2rem;
	border-radius: 0.4rem;
	cursor: pointer;
	border: 1px solid var(--color-primary);
	transition: var(--transition);
}

.btn:hover {
	background: var(--color-white);
	color: var(--color-bg);
	border-color: transparent;
}

.btn-primary {
	background: var(--color-primary);
	color: var(--color-bg);
}

/* Profile Styles */
/* .profileContainer {
	display: grid;
	grid-template-columns: 0.5fr 1.5fr;
	gap: 1em 1em;
} */

.sidebar {
	display: grid;
	align-items: center;
	max-height: 5rem;
	margin-block: 2rem;
}

.sidebar button {
	width: 10rem;
	margin-block: 5px;
	padding-block: 5px;
}

.carousel {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	gap: 5px 5px;
	/* background-color: gainsboro; */
	color: #011034;
	margin-inline: 20px;
}

.movieCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: gainsboro;
	margin: 5px;
}

.moviePoster {
	margin-block: 5px;
}

.movieTitle {
	font-size: 30px;
	text-align: center;
}

@media screen and (max-width: 600px) {
	.profileContainer {
		display: grid;
		grid-template-columns: 1fr;
	}

	.sidebar {
		display: grid;
		justify-content: center;
	}
}
