.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.userInfoForm {
  position: relative;
  margin: 0;
}
input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid teal;
  resize: none;
  color: white;
}
input {
  margin: 10px;
}
#favoriteMovie1,
#favoriteMovie2,
#favoriteMovie3,
#action-btn {
  position: relative;
  bottom: 60px;
}
/* Set each PNG to be absolute so it can overlap other components */
#leftSpotLight {
  position: absolute;
  width: 50%;
}
#rightSpotLight {
  position: absolute;
  width: 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader {
  position: relative;
  display: flex;
  justify-content: center;
  top: 90px;
  z-index: 2;
}
.loader__container {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
}
.loader__film {
  position: absolute;
  top: -30px;
  left: 0;
  display: flex;
}
.loader__film-img {
  animation: rotate 1.5s linear infinite;
}

.loader__film img {
  width: auto;
  height: auto;
}
.camera-body img {
  width: auto;
  height: auto;
}
@keyframes blinking {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  70% {
    opacity: 0.4;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.arrow-left {
  position: relative;
  width: 30px;
  height: 30px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 30px solid #fcce5d;
  animation: blinking 2s linear infinite;
  top: -25px;
  z-index: 1;
}
