#searchBar {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 40%;
  height: auto;
  background: transparent;
  border: none;
  border-bottom: 1px solid #f8f4f4;
  color: var(--color-light);
  font-size: large;
  text-align: center;
}

#searchArea {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 40%;
  height: auto;
  background: transparent;
  border: none;
  /* border-bottom: 1px solid #f8f4f4; */
  color: var(--color-light);
  font-size: large;
  text-align: center;
}

#searchBtn {
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  background-size: 200% 100%;
  background-position: left;
  background-repeat: no-repeat;
  transition: 500ms;
  margin: 0 auto;
  margin-top: 15px;
  color: white;
}
#searchBtn:before {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  background-color: #1b2845;
  background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
  transition: 500ms;
}
#searchBtn:hover {
  background-position: right;
}
#searchBtn:hover:before {
  color: rgba(255, 255, 255, 0.8);
}
#searchBtn:focus {
  outline: none;
}
@media (max-width: 510px) {
  #searchBar {
    font-size: smaller;
    width: 80%;
    transition: all 1s;
  }
}
