:root {
  --neon-text-color: rgb(0, 110, 255);
}
.moovySpace {
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  text-transform: uppercase;
  animation: flicker 8.5s infinite alternate;
  margin: auto;
  margin-top: 20px;
}

.moovySpace:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);

    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
      0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color),
      0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}
.recentText {
  position: relative;
  text-align: center;
  top: 30px;
  margin: auto;
}
.loader {
  margin: auto;
  width: 100px;
}
.loader__text {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  color: #4f4f50;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Anton, sans-serif;
}

.loader__filmstrip {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 200px;
  background: #4f4f50;
  z-index: -1;
}

.loader__filmstrip:before,
.loader__filmstrip:after {
  content: '';
  position: absolute;
  height: 105%;
  border-left: 5px dashed #f5f1ed;
  -webkit-animation: roll 230ms infinite;
  animation: roll 140ms infinite;
}

.loader__filmstrip:before {
  left: 5px;
}

.loader__filmstrip:after {
  right: 5px;
}

/* Error element style */
.errorMessage {
  margin: 2rem;
}

@-webkit-keyframes roll {
  0% {
    top: 0px;
  }
  100% {
    top: -15px;
  }
}

@keyframes roll {
  0% {
    top: 0px;
  }
  100% {
    top: -15px;
  }
}
.link {
  display: block;
  text-align: center;
  color: #777;
  text-decoration: none;
  padding: 10px;
}

#movieTitle {
  position: relative;
}
.movieUser {
  position: relative;
}
#createdAt {
  position: relative;
  bottom: 20px;
  left: 70%;
}
.userText {
  position: relative;
  top: -25px;
}

.movie_card {
  position: relative;
  display: block;
  width: 80vw;
  max-width: 1200px;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);
  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 80px -25px rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
  }
  .info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    overflow: scroll;
    .movie_header {
      position: relative;
      padding: 5px;
      height: 40%;
      h1 {
        color: black;
        font-weight: 400;
      }
      h4 {
        color: #555;
        font-weight: 400;
      }
      p {
        color: black;
      }
      .type {
        display: inline-block;
        color: #000000;
      }
      .locandina {
        position: relative;
        float: left;
        margin: 10px;
        height: 300px;
        width: 240px;
        box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
      }
    }
    .movie_desc {
      padding: 25px;
      height: 50%;

      .text {
        color: #545454;
        margin-top: 30px;
      }
    }
    .movie_social {
      height: 10%;
      padding-left: 15px;

      ul {
        list-style: none;
        padding: 0;
        li {
          display: inline-block;
          color: rgba(0, 0, 0, 0.3);
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px;

          &:hover {
            transition: color 0.3s;
            color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }
  .blur_back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
    border-radius: 11px;
  }
}

@media screen and (min-width: 768px) {
  .movie_header {
    width: 65%;
  }

  .movie_desc {
    width: 50%;
  }

  .info_section {
    background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
  }

  .blur_back {
    width: 80%;
    background-position: -100% 10% !important;
  }
}

@media screen and (max-width: 868px) {
  .movie_card {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }
  .moovySpace {
    font-size: 2em;
  }
  .blur_back {
    width: 100%;
    background-position: 50% 50% !important;
  }

  .movie_header {
    width: 100%;
    margin-top: 85px;
  }

  .movie_desc {
    width: 100%;
  }

  .info_section {
    background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
    display: inline-grid;
  }
  #createdAt {
    position: relative;
    text-align: center;
    left: 0;
  }
}

.reel {
  position: relative;
  background: #111;
  padding: 5px;
  border-left: 10px dashed #fff;
  border-right: 10px dashed #fff;
}

.single {
  height: 500px;
  width: 80vw;
  background-size: cover;
  border-radius: 7px;
  margin: 15px;
}
