#profilePictureContainer {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 10px;
  right: 20px;
  cursor: pointer;
  border: none;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  background-size: 200% 100%;
  background-position: left;
  background-repeat: no-repeat;
  transition: 500ms;
  margin: 0 auto;
}
#profilePictureContainer:before {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  background-color: #1b2845;
  background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
  transition: var(--transition);
}
#profilePictureContainer:hover {
  background-position: right;
}
#profilePictureContainer:hover:before {
  color: rgba(255, 255, 255, 0.8);
}
#profilePictureContainer:focus {
  outline: none;
}

.profileLinks {
  position: relative;
  right: 20px;
  cursor: pointer;
  color: var(--color-primary);
  font-size: 16px;
}

#logoutLink {
  padding: 0;
  border: none;
  background: none;
}

.slide {
  position: absolute;
  top: 50px;
  display: block;
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  text-align: right;
  transition: height 0.7s ease;
  z-index: 10;
}

#touch {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#touch:checked + .slide {
  height: 140px;
}
@media (max-width: 510px) {
  #profilePictureContainer {
    right: 0px;
    float: right;
  }
}
