#profilePictureContainer {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border: none;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    background-size: 200% 100%;
    background-position: left;
    background-repeat: no-repeat;
    transition: 500ms;
    margin: 0 auto;
    margin-top: 10px;
    color: white;
}
#profilePictureContainer:before {
    color: rgba(255,255,255,0.5);
    font-size: 16px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    background-color: #1b2845;
    background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
    transition: 500ms;
}
#profilePictureContainer:hover {
    background-position: right;
}
#profilePictureContainer:hover:before {
    color: rgba(255,255,255,0.8);
}
#profilePictureContainer:focus {
    outline: none;
}

.loggedInContainer {
    display: block;
    position: absolute;
    top: 95px;
    right: 10px;
}
#profileLink {
    position: relative;
    display: block;
    margin-bottom: 20px;
}
#logoutLink {
    display: block;
    position: relative;
}
  
.slide {
    clear:both;
    width:100%;
    height:0px;
    overflow:scroll;
    text-align:right;
    transition: height .7s ease;
}
  
.slide li {padding : 10px;}
  
#touch {position: absolute; opacity: 0;}    
  
#touch:checked + .slide {height: 140px;}