#watchMovies-container {
  position: relative;
  margin-top: 400px;
}
.watchWrapper {
  display: grid;
  grid-template-columns: repeat(5, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
  top: 700px;
  section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
    .item {
      padding: 0 2px;
      flex: 1;
      flex-basis: 300px;
      flex-grow: 0;
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
      overflow: hidden;
      &:hover {
        margin: 0 20px;
        transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
        transform: scale(0.97);
      }
    }
    .item img {
      width: 100%;
      transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    }
    .watchedDescriptions {
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: black;
      color: white;
      text-align: center;
      width: 100%;
      height: 100%;
      transition: all 0.7s ease-in-out;
      padding: 20px;
      box-sizing: border-box;
      clip-path: circle(0% at 100% 100%);
      text-align: center;
    }
    .item:hover .watchedDescriptions {
      left: 0px;
      transition: all 0.7s ease-in-out;
      clip-path: circle(75%);
      overflow: scroll;
    }
    .item:hover {
      transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
      transform: scale(0.97);
    }

    a {
      position: absolute;
      color: #fff;
      text-decoration: none;
      font-size: 11em;
      background: rgb(0, 0, 0);
      width: 80px;
      padding: 20px;
      text-align: center;
      z-index: 1;

      &:nth-of-type(1) {
        top: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(
          -90deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 1) 100%
        );
      }
      &:nth-of-type(2) {
        top: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 1) 100%
        );
      }
    }
  }
}
