input[type=radio]{
    display: none;
}
  
.projectSection {
    display: flex;
    position: absolute;
    align-items: center;
    transition: background .5s ease-in;
    width: 100%;
    height: 80%;
    background-position: center;
    background-size: cover;
}

.card {
    position: absolute;
    width: auto;
    height: auto;
    transition: transform .4s ease;
    cursor: pointer;

}
 
.posterContainer {
    width: 100%;
    height: 100%;
    max-width: 780px;
    max-height: 600px;
    transform-style: preserve-3d;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
  
.cards {
    position: relative;
    width: 95%;
    height: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
  
#item1:checked ~ .cards #project3, #item2:checked ~ .cards #project1, #item3:checked ~ .cards #project2 {
    transform: translatex(-50%) scale(.8);
    opacity: .4;
    z-index: 0;
    transition: .5s ease-in;
}
   
#item1:checked ~ .cards #project2, #item2:checked ~ .cards #project3, #item3:checked ~ .cards #project1 {
    transform: translatex(50%) scale(.8);
    opacity: .4;
    z-index: 0;
    transition: .5s ease-in;
}
  
#item1:checked ~ .cards #project1, #item2:checked ~ .cards #project2, #item3:checked ~ .cards #project3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
    transition: .5s ease-in;
    img {
      box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
}
  
  
  
.infoContainer {
    background-color: #fff;
    border-radius: 8px;
    min-width: 260px;
    padding: 16px 10px;
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 30%;
    right: 10px;
    margin: auto;
}
  
.upperpart {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
}
.projectinfo {
    width: calc(100% - 32px);
    display: block;
}
  .projectinfo .title {
    color: #403d40;
    font-size: 14px;
    line-height: 24px;
}
.subline {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.liveLink {
    font-size: 12px;
    line-height: 8px;
}
.cameraIcon {
      position: relative;
      top: -18px;
      line-height: 16px;
      color: #a5a5a5;
      margin-left: auto;
      margin-bottom: 0px;
  }
  .infoarea {
    width: 100%;
    position: absolute;
    top: 0;
    left: 30px;
    transition: transform .4s ease-in;
  }
  #item1:checked ~ .infoContainer #test {
    transform: translateY(0);
  }
  
  #item2:checked ~ .infoContainer #test  {
    transform: translateY(-50px);
  }
  #item3:checked ~ .infoContainer #test  {
    transform: translateY(-100px);
  }
