.login-moovy-space {
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  text-transform: uppercase;
  animation: flicker 8.5s infinite alternate;
  margin: auto;
  top: -50px;
}
.login-moovy-space:focus {
  outline: none;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid teal;
  resize: none;
  color: white;
}
@media screen and (max-width: 550px) {
  .login-moovy-space {
    top: -50px;
    font-size: 3rem;
  }
}
